{{!-- Reminder- this is a partial! Handlebars will render this code for as many '{{#each examples}}' that exist! --}}
{{!-- Partials are invoked in /views/ by using the syntax: {{> partial-file-name}} --}}

<div>
  <h2>
    {{message}}
  </h2>
  <div>
    Posted by
    {{user.username}}
  </div>
</div>