<div>
  {{#each examples}}
    {{>items}}
  {{/each}}
</div>

<div>
  <div>
    <h2>Create New Message</h2>
  </div>
  <form id="new-data-form">
    <label class="form-label" for="data-message">Message</label>
    <textarea name="data-message" ></textarea>

    <button type="submit">Create</button>
  </form>
</div>

<script src="/js/newData.js"></script>