<div>
    {{!-- Reminder: examples comes from the data being passed in the res.render on homeRoutes.js! --}}

  {{#each examples}}
  {{!-- Reminder- this is a partial! Handlebars will render the code located in items.handlebars in the /partials/ directory! --}}
    {{>items}}
  {{/each}}
</div>

<div>
  <div>
    <h2>Create New Message</h2>
  </div>
  <form id="new-data-form">
    <label for="data-message">Message</label>
    <textarea name="data-message" ></textarea>

    <button type="submit">Create</button>
  </form>
</div>

<script src="/js/newData.js"></script>