<div>
  {{! Reminder: userExamples comes from the data being passed in the res.render on pageOneRoutes.js! }}
  {{#each userExamples}}

    <h2>{{message}}</h2>
    <div>This messaage is specific to this user!</div>

  {{/each}}
</div>
<script src="/js/page-one.js"></script>