/* any css stylesheets can go in this folder */
/* hint- remember to import them in your handlebars! */
#header {
  background-color: lightblue;
}
#footer {
  background-color: lightcoral;
}
#nav {
  display: flex;
}

#nav > ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

#nav > ul > li {
  margin: 0 10px;
}
